<div class="card-item">
  <div class="image image1"></div>

  <div class="content">
    <p class="views"><span>👁️‍🗨️ :</span> {{ post.views }}</p>
    <h1 class="title">{{ post.title }}</h1>
    <div class="description">
      <p>
        {{ post.description }}
      </p>
    </div>
    <!--
      <div class="tags">
        <span class="tag" *ngFor="let tag of post.tags">#{{ tag }}</span>
      </div>
      <div class="reactions">
        <p class="likes"><span>❤️ :</span> {{ post.reactions.likes }}</p>
        <p class="dislikes"><span>👎 :</span> {{ post.reactions.dislikes }}</p>
      </div> -->
  </div>
</div>
